<div class="max-w-5xl mx-auto w-full transition-all duration-300">
  <header class="mb-4 text-center py-2">
    <h1 class="text-3xl !font-[Bricolage_Grotesque] text-[var(--brand-black)] font-extrabold dark:text-white tracking-tight">need to keep track of your events?</h1>
  </header>
  <main id="posts" class="w-full flex flex-col items-center text-[var(--brand-orange)]">
    <%# tab nav %>
    <div class="flex border-b border-black/10 dark:border-white/10 mb-6">
      <%= link_to "Interested Events", 
              interestedevents_path(tab: "interested"), 
              class: events_tab(@tab, "interested") %>
      <%= link_to "My Created Events", 
              interestedevents_path(tab: "created"), 
              class: events_tab(@tab, "created") %>
    </div>
    <%# Sort by %>
    <%= form_with url: interestedevents_path, method: :get, class: "w-full max-w-2xl flex justify-end items-center gap-2 mb-4 text-[var(--grey-subtitle)]", data: { turbo_frame: "posts" } do |f| %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
        <path fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z" clip-rule="evenodd" />
      </svg>
      <div class="w-full max-w-2xs">
        <%= select_tag :sort,
            options_for_select([
              ["Most recent posts first", "date_posted"],
              ["Earliest events first", "event_date"]
            ], params[:sort]),
            include_blank: "Sort by...",
            class: "w-full [&>*:first-child]:!cursor-pointer",
            data: {
              controller: "select",
              select_submit_on_change_value: true,
              select_dropdown_input_value: false, # Enable this to add a search input to the dropdown
              select_disable_typing_value: true
            } %>
      </div>
    <% end %>
    <div class="w-full flex flex-col max-w-2xl gap-y-4">
      <% if @events.any? %>
        <% @events.each do |event| %>
          <%= render event %>
        <% end %>
      <% else %>
        <div class="py-10 text-center border-2 border-dashed border-black/10 rounded-xl">
          <p class="text-neutral-500">You haven't 
            <% if @tab == "created"%>
              created
            <% else %>
              marked interest 
            <% end %>
            in any events yet.</p>
        </div>
      <% end %>
    </div>
  </main>
</div>