<div class="flex items-center gap-4 justify-end pt-6 bg-[var(--post-background)] border-t border-black/10 dark:border-white/10 font-semibold">
  <%# INTEREST: user cant express interest towards an event they create %>
  <% if post.organizer != current_user %>
    <% already_interested = current_user.interestedevents.find_by(post_id: post.id) %>
    <% if already_interested %>
      <%# if user already expressed interest %>
      <%= button_to [post, already_interested], method: :delete, class: "flex items-center gap-1.5 text-red-500 font-semibold text-md transition-all" do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001Z" />
        </svg>
        Interested
      <% end %>
    <% else %>
      <%# if user hasnt expressed interest %>
      <%= button_to post_interestedevents_path(post), method: :post, class: "flex items-center gap-1.5 rounded-md text-md text-neutral-800 transition-all hover:text-[var(--brand-blue)] dark:text-neutral-50" do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
        </svg>
        interested?
      <% end %>
    <% end %>
  <% end %>
  <% if local_assigns[:full_details] %>
    <%# Show page specific buttons (Edit/Delete) %>
    <% if post.organizer == current_user %>
      <%= link_to "Edit Event", edit_post_path(post), class: "bg-neutral-100 rounded-lg" %>
      <%= button_to "Delete", post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-[var(--brand-orange)]" %>
    <% end %>
  <% else %>
    <%# more details %>
    <%= button_to post_path(post), method: :get, class: "text-[var(--brand-black)] hover:text-[var(--brand-blue)] flex gap-1.5" do%>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
      </svg>
      more details
    <% end %>
  <% end %>
</div>