<div class="flex gap-4 items-center justify-end pt-6 bg-[var(--post-background)] border-t border-black/10 dark:border-white/10 font-semibold">
  <%# interest info %>
  <div class="mr-auto flex items-center gap-4">
    <%= render "posts/post/components/interest_button", post: post %>
    <%= render "posts/post/components/interest_counter", post: post %>
  </div>
  <% if local_assigns[:full_details] %>
    <%# Show page specific buttons (Edit/Delete) %>
    <% if post.organizer == current_user %>
      <%= link_to "Edit Event", edit_post_path(post)%>
      <%= button_to "Delete", post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "text-[var(--action-orange)]" %>
    <% end %>
  <% else %>
    <%# more details %>
    <%= button_to post_path(post), method: :get, class: "text-[var(--typography-black)] hover:text-[var(--brand-blue)] flex gap-1.5" do%>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
      </svg>
      more details
    <% end %>
  <% end %>
</div>