<%# Header %>
<div class="px-6 py-4 bg-[var(--post-background)] font-[Unbounded] border-b border-black/10 dark:border-white/10">
  <div class="flex items-center justify-between">
    <%# left of header %>
    <div class="flex items-center text-[var(--post-background)]">
      <% if post.organizer&.avatar&.attached? %>
        <%= image_tag post.organizer.avatar, class: "h-10 w-10 rounded-full object-cover", alt: "Author" %>
      <% else %>
        <div class="h-10 w-10 rounded-full bg-neutral-300 dark:bg-neutral-700 flex items-center justify-center text-sm font-bold text-neutral-600 dark:text-neutral-300">
          <%= post.organizer&.username&.first&.upcase %>
        </div>
      <% end %>
      <div class="ml-3">
        <p class="text-md font-medium text-[var(--brand-black)]">@<%=post.organizer.username%></p>
        <p class="text-sm font-light text-[var(--brand-black)]">
          <%# <%= local_time(post.updated_at, format: '%B %e, %Y, %l:%M %P') %>
          <%= post.updated_at.localtime.strftime('%B %e, %Y, %l:%M %P')%>
        </p>
      </div>
    </div>
    <%# right of header %>
    <div class = "flex items-center gap-4">
      <%# Event countdown %>
      <p class="bg-[var(--brand-blue)] italic font-light text-[var(--post-background)] text-lg px-4 py-1 justify-end rounded-full">
        <%= event_countdown_text(post.event_date)%>
      </p>
      <%# Share button %>
      <button type="button" class="text-[var(--brand-black)]" data-controller="clipboard"
            data-clipboard-text="<%= post_url(post) %>"
            data-clipboard-success-message-value="Post link copied!"
            data-clipboard-show-tooltip-value="true">
        <svg class="size-5" fill="currentColor" viewBox="0 0 20 20">
          <path d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z" />
        </svg>
      </button>
    </div>
  </div>
</div>