<% content_for :title, "New Event" %>

<%# error handling %>
<% if @post.errors.any? %>
  <div class="mb-6 flex items-center gap-2 rounded-lg border border-green-200 bg-green-50 px-4 py-3 text-sm text-green-700 dark:border-green-900/30 dark:bg-green-950/20 dark:text-green-400">
    <ul style="list-style-type disc;">
      <% @post.errors.full_messages.each do |message|%>
        <li><%=message%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="w-full flex flex-col items-center">
  <h1 class="text-4xl !font-[Bricolage_Grotesque] font-light italic bg-[var(--brand-green)] px-2 text-neutral-900 dark:text-white tracking-tight justify-start">New event incoming!</h1>
  <%# <%= render "form", post: @post %>
  <br>
  <%= form_with model: @post, class: "w-3/4" do |form| %>
    <div class="mb-6 relative gap-y-1.5">
      <%= form.label :event_title, "What are you hosting?" %>
      <%= form.text_field :event_title, class: "form-control", placeholder: "Could this be the best event ever...?" %>
    </div>
    <div class="mb-6 relative gap-y-1.5">
      <%= form.label :location, "Where's it at?" %>
      <%= form.text_field :location, class: "form-control", placeholder: "123 Awesome Lane..." %>
    </div>
    <div class="mb-6 relative gap-y-1.5">
      <%= form.label :event_date, "When is it?" %>
      <%= form.date_field :event_date, class: "form-control" %>
    </div>
    <div class="relative gap-y-1.5 h-full">
      <%= form.label :description, "What's happening?" %>
      <%= form.text_area :description, class: "form-control min-h-24", placeholder: "Tell us about your event..." %>
    </div>
    <div class="mt-6 flex justify-center w-full">
      <%= form.submit "Create Event", 
        class: "cursor-pointer rounded-lg bg-transparent px-8 py-2 text-sm font-medium text-neutral-800 transition-all duration-100 hover:bg-[var(--brand-black)] hover:text-white dark:text-neutral-50 dark:border-neutral-700" %>
    </div>
  <% end %>
</div>
