<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Comp225 Ramoha" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Comp225 Ramoha">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for insatallable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <!-- Shoelace -->
  <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/components/color-picker/color-picker.js"></script>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"/>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css"
  />
  <!-- Tom Select -->
  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.5.2/dist/css/tom-select.css" rel="stylesheet">
  <!-- Air Datepicker -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/air-datepicker@3.6.0/air-datepicker.min.css">
  <!-- Photoswipe -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe/dist/photoswipe.css">
  </head>

  <body class="h-screen overflow-hidden bg-[var(--main-background)]dark:bg-neutral-900 tracking-tight">
    <div class="flex h-full w-screen">
      <div class="sidebar">
        <%= render 'layouts/sidebar' %> <!-- renders sidebar -->
      </div>

      <main class="flex-1 h-full overflow-y-auto">
        <div class="relative h-40 w-full overflow-hidden shadow-sm border border-black/5 dark:border-white/5"> 
          <%= image_tag "background-pattern.svg", class: "h-full w-full object-cover" %> 

          <div class="absolute inset-0 flex items-center justify-center">
            <%= image_tag "logo-dark.svg", class: "max-w-[500px] w-[50vw]  h-auto z-10" %>
          </div>
           
    
          <div class="absolute inset-0 bg-gradient-to-t from-black/20 to-transparent"></div>
        </div>
        <div class = "px-[3%] py-10 transition-all duration-300 flex-1 items-center justify-between">
          <!-- page content -->
          <%= yield %> 
        </div>
      </main>
    </div>  
  </body>
</html>
